<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AppConcurso</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro-cargo">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Cadastro de Cargo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro-candidato">
                <span class="oi oi-person" aria-hidden="true"></span> Cadastro de Candidato
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro-candidato-inscricao">
                <span class="oi oi-people" aria-hidden="true"></span> Candidato com Inscrição
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscricao-candidato">
                <span class="oi oi-pencil" aria-hidden="true"></span> Inscrição de Candidato
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lancamento-notas">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Lançamento de Notas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resultado-preliminar">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Resultado Preliminar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resultado-final">
                <span class="oi oi-flag" aria-hidden="true"></span> Resultado Final
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}